.popupdiv{
	position: absolute; height: 400px; overflow-x:hidden; overflow-y:auto;
	ul { 
		margin: 0px; padding:0px; 
		li { 
			background: #3A3A3A; border-bottom:1px solid #000; padding: 10px; color: #fff; list-style: none;
			display:flex;
		}
		
	} 
}
.listdisplay{
	display:block;
	clear:both;
	border-bottom:1px solid #737373;
}
.searchpanel{
	background-color:#3B3B3B;
	color: #999;
}