<slider-component></slider-component>
<div class="container-fluid" style="background-color:#E4E4E4 ">
	<h3>The Package Manager makes your job easier</h3>
	<p>
		Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.
	</p>
	<p>
		Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
	</p>
	<div class="text-center">
		
		<span class="full-circle center-vertically distance_in_between">
			<center><a [routerLink]="['Assets']">SEARCH</a></center>
		</span>
		<span class="full-circle center-vertically distance_in_between">
			<center><a [routerLink]="['Home']">MANAGE EASIER</a></center>
		</span>
		<span class="full-circle center-vertically distance_in_between">
			<center><a [routerLink]="['Home']">GET UPDATES</a></center>
		</span>
		<span class="full-circle center-vertically distance_in_between">
			<center><a [routerLink]="['Home']">PARTNERS INVITE</a></center>
		</span>

	</div>


</div>
<div>
	<div class="text">
	  <h4><span>Together we build more</span></h4>
	</div>
	<div class="text">
		<p><span>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia. </span><span>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</span></p>
		<p><span>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span></p>
		<p><span>Ut enim ad minim venia. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</span></p>
	</div>
</div>